[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/pynxtools-apm"]
	path = packages/pynxtools-apm
	url = git@github.com:FAIRmat-NFDI/pynxtools-apm.git
[submodule "packages/pynxtools-em"]
	path = packages/pynxtools-em
	url = git@github.com:FAIRmat-NFDI/pynxtools-em.git
[submodule "packages/pynxtools"]
	path = packages/pynxtools
	url = git@github.com:FAIRmat-NFDI/pynxtools.git
[submodule "packages/pynxtools-xps"]
	path = packages/pynxtools-xps
	url = git@github.com:FAIRmat-NFDI/pynxtools-xps.git
[submodule "packages/nomad-north-nionswift"]
	path = packages/nomad-north-nionswift
	url = git@github.com:FAIRmat-NFDI/nomad-north-nionswift.git
[submodule "packages/nomad-north-fiji"]
	path = packages/nomad-north-fiji
	url = git@github.com:FAIRmat-NFDI/nomad-north-fiji.git
[submodule "packages/nomad-north-vesta"]
	path = packages/nomad-north-vesta
	url = git@github.com:FAIRmat-NFDI/nomad-north-vesta.git
[submodule "packages/nomad-north-apmtools"]
	path = packages/nomad-north-apmtools
	url = git@github.com:FAIRmat-NFDI/nomad-north-apmtools.git
